################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mak/nokotan/.vs/nokotan
/mak/nokotan/nokotan/x64/Debug
